@import 'tailwindcss';

@import '@fontsource/ubuntu/700.css';
@import '@fontsource/kiwi-maru/500.css';

:root {
    --foreground-rgb: 0, 0, 0;
}

body {
    font-family: 'Ubuntu', 'Kiwi Maru' !important;
    color: rgb(var(--foreground-rgb));
    background: #ffffff;
}
